.row {
    padding: 1rem 4%;
    color: #fff;
}
.row__title {
    font-size: 1.3rem;
    padding: 0 0.5rem;
}
@media screen and (min-width: 768px) {
    .row__title {
        font-size: 1.7rem;
   }
}
.row__images {
    display: flex;
    align-items: center;
    overflow-x: visible;
    overflow-y: hidden;
    width: 100%;
    padding: 0.5rem 0;
}
.row__images .row__image {
    width: 300px;
    padding: 0.5rem;
    transition: transform 0.3s ease-in;
}
.row__images .row__image:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.row ::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: #111;
}
.row ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #000;
    border-radius: 9px;
    border: 3px solid transparent;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

p{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
